<heading-component [message]="'BMI Calculator'"></heading-component>
<table>
    <tr>
        <td>Height</td>
        <td>
            <input type = "text" #heightEditBox (input)="onHeightEdit(heightEditBox.value)" [value]="height"/>
        </td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>
            <input type = "text" #weightEditBox (input)="onWeightEdit(weightEditBox.value)" [value]="weight"/>
        </td>
    </tr>
    <tr>
        <td><button (click)="calculateBMI()">CalculatBmi</button></td>
        <td><button (click)="clear()">Clear</button></td>
    </tr>
    <tr>
        <td>BMI:</td>
        <td>{{bmi}}</td>
    </tr>
</table>